.container {
  width: 80%;
  padding: 50px 0;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: var(--secondary-color);
  z-index: 1;
}

.timelineblock {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timelineblockright {
  float: right;
}

.timelineblockleft {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--tertiary-color);
  background: var(--primary-color);
  margin-top: 10px;
  z-index: 2;
}

.timelinecontent {
  width: 95%;
  padding: 0 15px;
  color: var(--secondary-color);
}

.timelinecontent h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timelinecontent span {
  /* font-size: 15px; */
  color: var(--secondary-color);
}

.timelinecontent p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timelineblock {
    width: 100%;
    margin-bottom: 30px;
  }
  .timelineblockright {
    float: none;
  }

  .timelineblockleft {
    float: none;
    direction: ltr;
  }
}
